In [2]:
import pandas as pd
import numpy as np

In [5]:
coffee = pd.read_excel("code/data/coffee_shop_sales.xlsx")
coffee=coffee.iloc[0:1000]
coffee.head()

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail
0,1,2023-01-01,07:06:11,2,5,Lower Manhattan,32,3.0,Coffee,Gourmet brewed coffee,Ethiopia Rg
1,2,2023-01-01,07:08:56,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
2,3,2023-01-01,07:14:04,2,5,Lower Manhattan,59,4.5,Drinking Chocolate,Hot chocolate,Dark chocolate Lg
3,4,2023-01-01,07:20:24,1,5,Lower Manhattan,22,2.0,Coffee,Drip coffee,Our Old Time Diner Blend Sm
4,5,2023-01-01,07:22:41,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg

In [8]:
housing = pd.read_csv("code/data/housing.csv")
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

# Ground Truth Calculations for Baseline Questions

This section calculates all ground truth values for questions in `baseline_describe_data.csv`.

## Housing Dataset Statistics

In [9]:
# Q1 & Q13: Average house price (mean and median)
price_mean = housing['price'].mean()
price_median = housing['price'].median()
price_std = housing['price'].std()

print("=" * 80)
print("Q1 & Q13: Average House Price")
print("=" * 80)
print(f"Mean: ${price_mean:,.2f}")
print(f"Median: ${price_median:,.2f}")
print(f"Std Dev: ${price_std:,.2f}")
print(f"\nGround Truth: \"Mean: ${price_mean:,.2f} (Median: ${price_median:,.2f}, Std Dev: ${price_std:,.2f})\"")

================================================================================
Q1 & Q13: Average House Price
================================================================================
Mean: $4,766,729.25
Median: $4,340,000.00
Std Dev: $1,870,439.62

Ground Truth: "Mean: $4,766,729.25 (Median: $4,340,000.00, Std Dev: $1,870,439.62)"

In [10]:
# Q2: Rows and columns in housing dataset
print("=" * 80)
print("Q2: Dataset Dimensions")
print("=" * 80)
print(f"Rows: {housing.shape[0]}")
print(f"Columns: {housing.shape[1]}")
print(f"\nGround Truth: \"{housing.shape[0]} rows, {housing.shape[1]} columns\"")

================================================================================
Q2: Dataset Dimensions
================================================================================
Rows: 545
Columns: 13

Ground Truth: "545 rows, 13 columns"

In [11]:
# Q3: Price range
price_min = housing['price'].min()
price_max = housing['price'].max()
price_range = price_max - price_min

print("=" * 80)
print("Q3: Price Range")
print("=" * 80)
print(f"Min: ${price_min:,.2f}")
print(f"Max: ${price_max:,.2f}")
print(f"Range: ${price_range:,.2f}")
print(f"\nGround Truth: \"Min: ${price_min:,.2f}, Max: ${price_max:,.2f}, Range: ${price_range:,.2f}\"")

================================================================================
Q3: Price Range
================================================================================
Min: $1,750,000.00
Max: $13,300,000.00
Range: $11,550,000.00

Ground Truth: "Min: $1,750,000.00, Max: $13,300,000.00, Range: $11,550,000.00"

In [12]:
# Q4 & Q18: Bedroom distribution
bedroom_counts = housing['bedrooms'].value_counts().sort_index()

print("=" * 80)
print("Q4 & Q18: Bedroom Distribution")
print("=" * 80)
print(bedroom_counts)

# Format for ground truth
bedroom_str = ", ".join([f"{int(bedrooms)} bedroom{'s' if bedrooms != 1 else ''}: {count}" 
                          for bedrooms, count in bedroom_counts.items()])
print(f"\nGround Truth Q4: \"{bedroom_str}\"")

# Q18: Percentage of 3 bedroom houses
three_bedroom_count = bedroom_counts.get(3, 0)
three_bedroom_pct = (three_bedroom_count / len(housing)) * 100
print(f"\nGround Truth Q18: \"{three_bedroom_pct:.2f}% ({three_bedroom_count} out of {len(housing)} houses)\"")

================================================================================
Q4 & Q18: Bedroom Distribution
================================================================================
bedrooms
1      2
2    136
3    300
4     95
5     10
6      2
Name: count, dtype: int64

Ground Truth Q4: "1 bedroom: 2, 2 bedrooms: 136, 3 bedrooms: 300, 4 bedrooms: 95, 5 bedrooms: 10, 6 bedrooms: 2"

Ground Truth Q18: "55.05% (300 out of 545 houses)"

In [13]:
# Q5 & Q11: Key statistics summary
print("=" * 80)
print("Q5 & Q11: Key Statistics Summary")
print("=" * 80)
print(housing.describe())

area_mean = housing['area'].mean()
area_median = housing['area'].median()

print(f"\nGround Truth Q5: \"Price - Mean: ${price_mean:,.2f}, Median: ${price_median:,.2f}, Std: ${price_std:,.2f}; Area, bedrooms, bathrooms, stories statistics\"")
print(f"\nGround Truth Q11: \"Price mean: ${price_mean/1e6:.2f}M, Area, Bedrooms (2-3 most common), Bathrooms, Stories - all numerical summaries\"")

================================================================================
Q5 & Q11: Key Statistics Summary
================================================================================
              price          area    bedrooms   bathrooms     stories  \
count  5.450000e+02    545.000000  545.000000  545.000000  545.000000
mean   4.766729e+06   5150.541284    2.965138    1.286239    1.805505
std    1.870440e+06   2170.141023    0.738064    0.502470    0.867492
min    1.750000e+06   1650.000000    1.000000    1.000000    1.000000
25%    3.430000e+06   3600.000000    2.000000    1.000000    1.000000
50%    4.340000e+06   4600.000000    3.000000    1.000000    2.000000
75%    5.740000e+06   6360.000000    3.000000    2.000000    2.000000
max    1.330000e+07  16200.000000    6.000000    4.000000    4.000000

          parking
count  545.000000
mean     0.693578
std      0.861586
min      0.000000
25%      0.000000
50%      0.000000
75%      1.000000
max      3.000000

Ground Truth Q5: "Price - Mean: $4,766,729.25, Median: $4,340,000.00, Std: $1,870,439.62; Area, bedrooms, bathrooms, stories statistics"

Ground Truth Q11: "Price mean: $4.77M, Area, Bedrooms (2-3 most common), Bathrooms, Stories - all numerical summaries"

In [14]:
# Q16: Standard deviation of house prices
print("=" * 80)
print("Q16: Standard Deviation of House Prices")
print("=" * 80)
print(f"Std Dev: ${price_std:,.2f}")
print(f"\nGround Truth: \"${price_std:,.2f} (indicates significant price variability)\"")

================================================================================
Q16: Standard Deviation of House Prices
================================================================================
Std Dev: $1,870,439.62

Ground Truth: "$1,870,439.62 (indicates significant price variability)"

In [15]:
# Q19: Correlation between house size and price
correlation = housing['area'].corr(housing['price'])

print("=" * 80)
print("Q19: Correlation Between Area and Price")
print("=" * 80)
print(f"Pearson correlation: {correlation:.4f}")

if correlation > 0.7:
    strength = "strong positive"
elif correlation > 0.4:
    strength = "moderate positive"
elif correlation > 0.2:
    strength = "weak positive"
else:
    strength = "very weak or no"

print(f"Interpretation: {strength} correlation")
print(f"\nGround Truth: \"{correlation:.4f} ({strength} correlation between area and price)\"")

================================================================================
Q19: Correlation Between Area and Price
================================================================================
Pearson correlation: 0.5360
Interpretation: moderate positive correlation

Ground Truth: "0.5360 (moderate positive correlation between area and price)"

In [16]:
# Missing values in housing dataset
print("=" * 80)
print("Missing Values - Housing")
print("=" * 80)
missing_housing = housing.isnull().sum()
print(missing_housing)

if missing_housing.sum() == 0:
    print(f"\nNo missing values in housing dataset")
else:
    print(f"\nTotal missing values: {missing_housing.sum()}")

================================================================================
Missing Values - Housing
================================================================================
price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

No missing values in housing dataset

## Coffee Shop Sales Statistics

In [17]:
# Calculate total sales amount
coffee['total_sales'] = coffee['transaction_qty'] * coffee['unit_price']

In [18]:
# Q6: Number of coffee shop sales records
print("=" * 80)
print("Q6: Number of Coffee Shop Sales Records")
print("=" * 80)
print(f"Total records: {len(coffee):,}")
print(f"\nGround Truth: \"{len(coffee):,} records\"")

================================================================================
Q6: Number of Coffee Shop Sales Records
================================================================================
Total records: 1,000

Ground Truth: "1,000 records"

In [20]:
# Q7, Q14, Q20: Coffee sales statistics
sales_mean = coffee['total_sales'].mean()
sales_median = coffee['total_sales'].median()
sales_std = coffee['total_sales'].std()
sales_min = coffee['total_sales'].min()
sales_max = coffee['total_sales'].max()

print("=" * 80)
print("Q7, Q14, Q20: Coffee Sales Statistics")
print("=" * 80)
print(f"Mean: ${sales_mean:.2f}")
print(f"Median: ${sales_median:.2f}")
print(f"Std Dev: ${sales_std:.2f}")
print(f"Min: ${sales_min:.2f}")
print(f"Max: ${sales_max:.2f}")
print(f"Range: ${sales_min:.2f}-${sales_max:.2f}")

print(f"\nGround Truth Q7: \"Mean: ${sales_mean:.2f} (Median: ${sales_median:.2f}, Range: ${sales_min:.2f}-${sales_max:.2f})\"")
print(f"\nGround Truth Q14: \"Mean: ${sales_mean:.2f}, Median: ${sales_median:.2f}, Std Dev: ${sales_std:.2f}, Min: ${sales_min:.2f}, Max: ${sales_max:.2f}\"")
print(f"\nGround Truth Q20: \"Min: ${sales_min:.2f}, Max: ${sales_max:.2f}\"")

================================================================================
Q7, Q14, Q20: Coffee Sales Statistics
================================================================================
Mean: $4.40
Median: $3.88
Std Dev: $1.71
Min: $2.00
Max: $9.50
Range: $2.00-$9.50

Ground Truth Q7: "Mean: $4.40 (Median: $3.88, Range: $2.00-$9.50)"

Ground Truth Q14: "Mean: $4.40, Median: $3.88, Std Dev: $1.71, Min: $2.00, Max: $9.50"

Ground Truth Q20: "Min: $2.00, Max: $9.50"

In [21]:
# Q8: Date range
coffee['transaction_date'] = pd.to_datetime(coffee['transaction_date'])
min_date = coffee['transaction_date'].min()
max_date = coffee['transaction_date'].max()
date_range_days = (max_date - min_date).days
date_range_months = date_range_days / 30

print("=" * 80)
print("Q8: Date Range")
print("=" * 80)
print(f"Start: {min_date.date()}")
print(f"End: {max_date.date()}")
print(f"Duration: {date_range_days} days (~{date_range_months:.1f} months)")
print(f"\nGround Truth: \"{min_date.date()} to {max_date.date()} ({date_range_months:.0f} months)\"")

================================================================================
Q8: Date Range
================================================================================
Start: 2023-01-01
End: 2023-01-02
Duration: 1 days (~0.0 months)

Ground Truth: "2023-01-01 to 2023-01-02 (0 months)"

In [22]:
# Q9 & Q10: Most common products and distribution
product_counts = coffee['product_category'].value_counts()

print("=" * 80)
print("Q9 & Q10: Product Distribution")
print("=" * 80)
print(product_counts)

# Q9: Top products with counts
top_products = []
for product, count in product_counts.head().items():
    top_products.append(f"{product}: {count:,}")
products_str = ", ".join(top_products)
print(f"\nGround Truth Q9: \"{products_str}\"")

# Q10: Distribution with percentages
dist_products = []
for product, count in product_counts.items():
    percentage = (count / len(coffee)) * 100
    dist_products.append(f"{product} ({percentage:.1f}%)")
dist_str = ", ".join(dist_products)
print(f"\nGround Truth Q10: \"{dist_str}\"")

================================================================================
Q9 & Q10: Product Distribution
================================================================================
product_category
Coffee                444
Tea                   344
Bakery                132
Drinking Chocolate     80
Name: count, dtype: int64

Ground Truth Q9: "Coffee: 444, Tea: 344, Bakery: 132, Drinking Chocolate: 80"

Ground Truth Q10: "Coffee (44.4%), Tea (34.4%), Bakery (13.2%), Drinking Chocolate (8.0%)"

In [23]:
# Q13: Unique product types
unique_products = coffee['product_category'].nunique()

print("=" * 80)
print("Q13: Unique Product Types")
print("=" * 80)
print(f"Unique categories: {unique_products}")
print(f"\nGround Truth: \"{unique_products} unique product categories\"")

================================================================================
Q13: Unique Product Types
================================================================================
Unique categories: 4

Ground Truth: "4 unique product categories"

In [26]:
# Q17: Day of week with most sales
coffee['day_of_week'] = coffee['transaction_date'].dt.day_name()
day_counts = coffee['day_of_week'].value_counts()

print("=" * 80)
print("Q17: Sales by Day of Week")
print("=" * 80)
print(day_counts)

top_day = day_counts.index[0]
top_day_count = day_counts.iloc[0]

# Build ground truth string with available days
if len(day_counts) >= 3:
    print(f"\nGround Truth: \"{top_day} with {top_day_count:,} sales (followed by {day_counts.index[1]}: {day_counts.iloc[1]:,}, {day_counts.index[2]}: {day_counts.iloc[2]:,})\"")
elif len(day_counts) == 2:
    print(f"\nGround Truth: \"{top_day} with {top_day_count:,} sales (followed by {day_counts.index[1]}: {day_counts.iloc[1]:,})\"")
else:
    print(f"\nGround Truth: \"{top_day} with {top_day_count:,} sales\"")

================================================================================
Q17: Sales by Day of Week
================================================================================
day_of_week
Sunday    550
Monday    450
Name: count, dtype: int64

Ground Truth: "Sunday with 550 sales (followed by Monday: 450)"

In [25]:
# Q21: Missing values in both datasets
print("=" * 80)
print("Q21: Missing Values - Coffee")
print("=" * 80)
missing_coffee = coffee.isnull().sum()
print(missing_coffee)

if missing_coffee.sum() == 0:
    print(f"\nNo missing values in coffee dataset")
else:
    print(f"\nTotal missing values: {missing_coffee.sum()}")

# Combined ground truth for Q21
housing_missing_total = housing.isnull().sum().sum()
coffee_missing_total = missing_coffee.sum()
print(f"\nGround Truth Q21: \"Housing: {housing_missing_total} missing values, Coffee: {coffee_missing_total} missing values\"")

================================================================================
Q21: Missing Values - Coffee
================================================================================
transaction_id      0
transaction_date    0
transaction_time    0
transaction_qty     0
store_id            0
store_location      0
product_id          0
unit_price          0
product_category    0
product_type        0
product_detail      0
total_sales         0
day_of_week         0
dtype: int64

No missing values in coffee dataset

Ground Truth Q21: "Housing: 0 missing values, Coffee: 0 missing values"

## Summary

Run all cells above to generate the exact ground truth values for each question in `baseline_describe_data.csv`. The notebook uses the same dataset subsets as `baseline_test.py` (first 500 rows for housing, first 1000 rows for coffee as configured in your existing cells).